.sidenav-container {
    height: 100vh;
  }
  
  mat-sidenav {
    width: 250px;
  }
  ::ng-deep mat-sidenav {
    background-color: var(--mat-cyan) !important;
    color: white !important;
  }
  
  ::ng-deep mat-toolbar {
    background-color: var(--mat-orange) !important;
    color: white !important;
  }
  