<mat-toolbar color="primary">Mi Cartera</mat-toolbar>
<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="closeSidenav()">Inicio</a>
  <!--<a mat-list-item routerLink="/transactions" (click)="closeSidenav()">Transacciones</a>-->
  <a mat-list-item routerLink="/wallets" (click)="closeSidenav()">mi Cartera</a>
  <a mat-list-item routerLink="/expenses" (click)="closeSidenav()">Tabla Gastos</a>
  <a mat-list-item routerLink="/income" (click)="closeSidenav()">Tabla Ingresos</a>
  <a mat-list-item routerLink="/savings" (click)="closeSidenav()">Mis Ahorros</a>
  <a mat-list-item routerLink="/loans" (click)="closeSidenav()">Dinero Prestado</a>
  <a mat-list-item routerLink="/debts" (click)="closeSidenav()">Mis Deudas</a>
</mat-nav-list>
